{% load staticfiles %}

<html lang='en'>
<head>
<script src="{% static 'showControler/js/analysis_right_content.js' %}"></script>
</head>
<body>
<div id='scrollingContainer'>
<button class='btn btn-inverse btn-large pull-right' style='margin-right:30px;' id='compareButton' onclick='modelsAnalysis()'>models analysis</button>
<button class='btn btn-inverse btn-large pull-right' style='margin-right:30px;' id='compareButton' onclick='analysis()'>analysis</button>
<button class='btn btn-inverse btn-large pull-right' style='margin-right:30px;' id='compareButton' onclick='compare()'>compare</button>
<button class='btn btn-inverse btn-large pull-right' style='margin-right:30px;' id='compareButton' onclick='overview()'>overview</button>

<div id='resultsContainer'>
</div>

<div id='container' style='width:900px;height:570px;' class='hide modal fade'></div>

<div id='chartContainer' style='width:900px;height:570px;' class='hide modal fade'></div>

</div>
</body>
</html>
